* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 200vh;
}

#parallax-section {
    width: 100vw;
    height: 100vh;
}

#parallax-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}